.DishThumbnail {
  height: 12rem;
  margin: 0.5em 0.5em;
}

.DishThumbnailPrice {
  margin-right: 1rem;
  color: white;
}

.DishThumbnailImageContainer {
  width: 18rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}